<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h1 class="titulo">Reserva Restaurante</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <app-nueva-reserva></app-nueva-reserva>
        </div>
        <div class="col-lg-6">
            <app-listar-reservas></app-listar-reservas>
        </div>
    </div>
</div>